body{margin:0}
.main{
       position:absolute;
       top:0;
       left:0;
	width:100%;
	background-color: #e7f4fe;
	
        
	}
	.tou{
	overflow: hidden;	
	margin-top: 0px;
	width: 100%;
	height: 120px;
	background-color: #000;
	position: relative;
        }

.zhong{
	overflow: hidden;
	margin: 5px 0px;
	
}

.wei{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	
      }
.tou1{ 
       margin:10px;
	width: 40px;
	height:40px;
	
	border-left: 15px solid transparent;
	border-right: 15px solid red;
	border-top: 15px solid red;
	border-bottom: 15px solid red;
       border-top-left-radius: 15px;
       border-top-right-radius: 15px;
       border-bottom-left-radius: 15px;
       border-bottom-right-radius: 15px;
	
	transform: rotate(-10deg);
	position:absolute;
	
	
}
.tou1:before{
         content:"";
	  margin-left:20px;
	  width: 13px;
      height: 66px;
	 
      border-right: 13px solid red;
	  border-top: 1px solid transparent;
	  border-bottom: 5px solid transparent;
	  transform: rotate(-15deg);
	  position:absolute;
	  top: 32px;
          left:-32;
	  
	  
}
.logowenzi{
	width: 80px;
	height: 20px;
	
	margin-left: 80px;
	font-size: 2.5rem;
	font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Arial Black," sans-serif";
	color: yellow;
	font-weight: bold;
	
	
}
.sun {
	  
      Margin:10px;
      Width:40px;
      Height:40px;
      Border-radius: 50%;
      Background: red;
      Box-shadow: 0 0 21px #fe9e9e;
      Position: relative;
	  float: right;
}
  .sun::before {
      Width: 0;
      Height: 80px;
      Content: ‘’;
      Border-left: 1px solid yellow;
      Position: absolute;
      Top: -150px;
      Left: 100px;
      z-index: 200;
      transform: rotate(45deg);
}
.sun::after {
      Width:80px;
      Height: 0;
      Content: ‘’;
      Border-top: 1px solid yellow;
      Position: absolute;
      Top: 100px;
      Left: -150px;
      z-index: 200;
      transform: rotate(45deg);
}
.sunlight {
      Width:200px;
      Height: 4px;
	  border: 1px solid blue; 
      Background: yellow;
      Position: absolute;
      Left:0;
	  Top:0; 
    }
.sl1 {
      Left: -80px;
      Top: -113px;
      Transform: rotate(90deg);
}
.sl2 {
      Top: -300px;
      Left:10px;
      Transform: rotate(15deg);
}

.sl3 {
      Top: 65px;
      Left: -205px;
	  Transform: rotate(165deg);
}
.sl4 {
      Top:106px;
      Left: 15px;
      Transform: rotate(45deg);
}
.sl5 {
      Top: 161px;
      Left: -81px;
      Transform: rotate(90deg);
}
.sl6 {
      Top: -35px;
      Left: -200px;
      Transform: rotate(-155deg);
}

.sl7 {
      Top: 21px;
      Left: -215px;
}
.sl8 {
      Top: -73px;
      Left: -170px;
      Transform: rotate(45deg);
}

.sl9 {
      Top:120px;
      Left: -170px;
      Transform: rotate(133deg);
}
 
               
               



.zhong a:link{
		font-size:15px;
		font-weight: bold;
		color: darkgreen;
	}
	
	
	.zhong a:active{
		text-decoration: none;
		color: red;}


.wei a{
	display: block;
}
.wei .wei-1{margin: 10px;}
.wei .wei-1 a{
	display: inline;
     margin: 0 5%;
}
.kid{
	overflow: hidden;
	width: 100%;
	
     
}
.kid1{width: 32%;
	margin-left:10px;
	word-break: break-all;
        float:left;
}
.kid2{width: 32%;
	margin-right:10px;
	word-break: break-all;
        float:right;
}
.kid3{width: 32%;
	margin-left:10px;
	word-break: break-all;
        float:left;
}
.kid4{width: 32%;
	margin-right:10px;
	word-break: break-all;
        float:right;
}
	
